
.main-element {
    background-color: #75CABB;
    display: flex;
    flex-flow: row wrap;
    height: 80%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}