@import "_normalize";
@import "_variables";
@import "_main-page";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');



html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: $blue;
}