@import "_normalize";
@import "_variables";
@import "_main-page";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: $violet;
}